services:
  hmpps-audit-api:
    image: ghcr.io/ministryofjustice/hmpps-audit-api:latest
    deploy:
      resources:
        limits:
          cpus: "2.0"          # 2000m
          memory: "1024m"     # 1 GiB
        reservations:
          cpus: "1.0"         # 1000m
          memory: "512m"      # 512 MiB

    network_mode: "host"
    container_name: hmpps-audit-api
    depends_on:
      - audit-db
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - JAVA_TOOL_OPTIONS=-XX:+AlwaysActAsServerClassMachine -XX:MaxRAMPercentage=50.0 -XX:+ExitOnOutOfMemoryError
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev,localstack

  audit-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: audit-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_DB=audit-db

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack
    ports:
      - "4566-4597:4566-4597"
      - 8999:8080
    environment:
      - SERVICES=sqs,s3,s3control
      - DEBUG=${DEBUG- }
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"

  oauth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: oauth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

networks:
  hmpps:
