# Values here are the same across all environments
generic-service:
  nameOverride: hmpps-audit-api
  serviceAccountName: hmpps-audit-api
  productId: "DPS018"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-audit-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /queue-admin/retry-all-dlqs {
          deny all;
          return 401;
        }
    tlsSecretName: audit-api-cert
    path: /
    modsecurity_enabled: true  # enable OWASP core rules then handle false positives by removing or tweaking rules to not block specific args or cookies
    modsecurity_audit_enabled: true
    modsecurity_snippet: |
      #  Set engine to DetectionOnly so that we can see what we are blocking before we switch on fully
      SecRuleEngine DetectionOnly
      #  Default is only GET HEAD POST OPTIONS so need to include PUT etc.
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD PATCH POST OPTIONS PUT DELETE"
      # team here grants access to the OpenSearch logs to delve into the cause of the blockage
      SecDefaultAction "phase:2,pass,log,tag:github_team=haha"
      SecDefaultAction "phase:4,pass,log,tag:github_team=haha"
      # Change default denial to be a 406 so that we can tell easily that it is modsecurity doing the blocking
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"


  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    HMPPS_SQS_USE_WEB_TOKEN: true
    SAVE_TO_S3_BUCKET: false

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-audit-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-audit-rds-secret:
      SPRING_DATASOURCE_USERNAME: "database_username"
      SPRING_DATASOURCE_PASSWORD: "database_password"
      DATABASE_NAME: "database_name"
      DATABASE_ENDPOINT: "rds_instance_endpoint"
    sqs-audit-queue-secret:
      HMPPS_SQS_QUEUES_AUDITQUEUE_QUEUE_NAME: "sqs_queue_name"
    sqs-audit-queue-dl-secret:
      HMPPS_SQS_QUEUES_AUDITQUEUE_DLQ_NAME: "sqs_queue_name"
    sqs-audit-users-queue-secret:
      HMPPS_SQS_QUEUES_AUDITUSERSQUEUE_QUEUE_NAME: "sqs_queue_name"
    sqs-audit-users-queue-dl-secret:
      HMPPS_SQS_QUEUES_AUDITUSERSQUEUE_DLQ_NAME: "sqs_queue_name"
    s3-output:
      HMPPS_S3_AUDIT_BUCKET_NAME: "bucket_name"
    glue-database-name:
      HMPPS_GLUE_DATABASE_NAME: "database_name"
    glue-catalog-table-name:
      HMPPS_GLUE_TABLE_NAME: "table_name"
    athena-workgroup-secret:
      HMPPS_ATHENA_WORKGROUP_NAME: "workgroup_name"
    athena-output-location-secret:
      HMPPS_ATHENA_OUTPUT_LOCATION: "output_location"
# PRISONER AUDIT
    sqs-prisoner-audit-queue-secret:
      HMPPS_SQS_QUEUES_PRISONERAUDITQUEUE_QUEUE_NAME: "sqs_queue_name"
    sqs-prisoner-audit-queue-dl-secret:
      HMPPS_SQS_QUEUES_PRISONERAUDITQUEUE_DLQ_NAME: "sqs_queue_name"
    hmpps-prisoner-audit-s3:
      HMPPS_S3_PRISONER_AUDIT_BUCKET_NAME: "bucket_name"
    prisoner-audit-glue-database-name:
      HMPPS_PRISONER_AUDIT_GLUE_DATABASE_NAME: "database_name"
    prisoner-audit-glue-catalog-table-name:
      HMPPS_PRISONER_AUDIT_GLUE_TABLE_NAME: "table_name"
    prisoner-athena-workgroup-secret:
      HMPPS_PRISONER_AUDIT_ATHENA_WORKGROUP_NAME: "workgroup_name"
    prisoner-athena-output-location-secret:
      HMPPS_PRISONER_AUDIT_ATHENA_OUTPUT_LOCATION: "output_location"


  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-audit-api

cron:
  retry_dlqs_schedule: "*/10 * * * *"
