# Environment specific values, override helm_deploy/hmpps-audit-api/values.yaml
generic-service:

  replicaCount: 2

  ingress:
    host: audit-api-dev.hmpps.service.justice.gov.uk
    modsecurity_snippet: |
      SecRuleEngine On
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD PATCH POST OPTIONS PUT DELETE"
      SecDefaultAction "phase:2,pass,log,tag:github_team=haha"
      SecDefaultAction "phase:4,pass,log,tag:github_team=haha"
      SecRuleUpdateActionById 949110 "t:none,deny,status:406,logdata:%{SERVER_NAME}"
      SecRuleUpdateActionById 959100 "t:none,deny,status:406,logdata:%{SERVER_NAME}"


  scheduledDowntime:
    enabled: true
    startup: '35 6 * * 1-5' # Start at 6:35am UTC Monday-Friday
    shutdown: '35 21 * * 1-5' # Stop at 9:35pm UTC Monday-Friday

  env:
    OAUTH_ENDPOINT_URL: "http://hmpps-auth.hmpps-auth-dev.svc.cluster.local/auth"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    SAVE_TO_S3_BUCKET: true

# CloudPlatform AlertManager receiver to route promethues alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps_tech_non_prod
  businessHoursOnly: true
  sqsNumberAlertQueueMappings:
    staff:
      - "Digital-Prison-Services-dev-hmpps_audit_queue"
      - "Digital-Prison-Services-dev-hmpps_audit_dlq"
    Prisoner:
      - "Digital-Prison-Services-dev-hmpps_prisoner_audit_queue"
      - "Digital-Prison-Services-dev-hmpps_prisoner_audit_dlq"
    user:
      - "Digital-Prison-Services-dev-hmpps_audit_users_queue"
      - "Digital-Prison-Services-dev-hmpps_audit_users_dlq"
  rdsAlertsDatabases:
    cloud-platform-f6d47a99708f20d5: "hmpps audit api"

cron:
  retry_dlqs_schedule: "*/10 7-20 * * 1-5"
