name: Pipeline [test -> build -> deploy]

on:
  push:
    branches:
      - '**'
  workflow_dispatch:
    inputs:
      additional_docker_tag:
        description: Additional docker tag that can be used to specify stable or testing tags
        required: false
        default: ''
        type: string
      push:
        description: Push docker image to registry flag
        required: true
        default: false
        type: boolean

permissions:
  contents: read
  packages: write

concurrency:
  # Only cancel in progress when on a branch - use SHA on main to ensure uniqueness.
  # This will allow multiple pipelines to run at the same time on main.
  # Note that two pipelines running within a few minutes of each other will cause issues with helm deploying to
  # a namespace, as the second one will not be able to get a lock as a deploy will be in progress.
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  helm_lint:
    strategy:
      matrix:
        environments: ['dev', 'preprod', 'prod']
    name: helm lint
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/test_helm_lint.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: ${{ matrix.environments }}
  app_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.app_version.outputs.version }}
    steps:
      - id: app_version
        name: Application version creators
        uses: ministryofjustice/hmpps-github-actions/.github/actions/build-test-and-deploy/create_app_version@v2 # WORKFLOW_VERSION
  gradle_verify:
    name: Run the tests
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/gradle_localstack_postgres_verify.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      gradle-command: 'BUILD_NUMBER=${{ needs.app_version.outputs.version}} ./gradlew assemble check'
      upload-build-artifacts: ${{ github.ref == 'refs/heads/main' }}
#      java-version: "25"
      localstack-services: s3,sqs
      localstack-tag: "4"
      postgres-tag: "18"
      postgres-db: audit_db
      postgres-username: admin
      postgres-password: admin_password
    needs:
      - app_version
  build:
    name: Build docker image from hmpps-github-actions
    if: github.ref == 'refs/heads/main'
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2 # WORKFLOW_VERSION
    needs:
      - gradle_verify
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      additional_docker_tag: ${{ inputs.additional_docker_tag }}
      push: ${{ inputs.push || inputs.push == null }}
      docker_multiplatform: false
      download_build_artifacts: true

  deploy_dev:
    name: Deploy to the dev environment
    if: github.ref == 'refs/heads/main'
    needs:
      - build
      - helm_lint
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'dev'
      app_version: '${{ needs.build.outputs.app_version }}'

  dev_integration_tests:
    needs: deploy_dev
    strategy:
      max-parallel: 1
      matrix:
        audit_event_type: [STAFF, PRISONER]
    uses: ./.github/workflows/environment_integration_test.yml
    with:
      job_name: "Run ${{ matrix.audit_event_type }} dev integration tests"
      environment: "dev"
      env_test_url: "https://audit-api-dev.hmpps.service.justice.gov.uk"
      audit_event_type: ${{ matrix.audit_event_type }}
    secrets:
      OAUTH_CLIENT_ID: ${{ secrets.OAUTH_CLIENT_ID }}
      OAUTH_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      OAUTH_TOKEN_URL: ${{ secrets.OAUTH_TOKEN_URL }}


  deploy_preprod:
    name: Deploy to the preprod environment
    needs:
      - build
      - helm_lint
      - deploy_dev
      - dev_integration_tests
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'preprod'
      app_version: '${{ needs.build.outputs.app_version }}'

  preprod_integration_tests:
    needs: deploy_preprod
    strategy:
      max-parallel: 1
      matrix:
        audit_event_type: [ STAFF, PRISONER ]
    uses: ./.github/workflows/environment_integration_test.yml
    with:
      job_name: "Run ${{ matrix.audit_event_type }} preprod integration tests"
      environment: "preprod"
      env_test_url: "https://audit-api-preprod.hmpps.service.justice.gov.uk"
      audit_event_type: ${{ matrix.audit_event_type }}
    secrets:
      OAUTH_CLIENT_ID: ${{ secrets.PREPROD_INTEGRATION_TESTS_CLIENT_ID }}
      OAUTH_CLIENT_SECRET: ${{ secrets.PREPROD_INTEGRATION_TESTS_CLIENT_SECRET }}
      OAUTH_TOKEN_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth/oauth/token"

  deploy_prod:
    name: Deploy to the prod environment
    needs:
      - build
      - helm_lint
      - deploy_preprod
      - preprod_integration_tests
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: 'prod'
      app_version: '${{ needs.build.outputs.app_version }}'


  prod_integration_tests:
    needs: deploy_prod
    strategy:
      max-parallel: 1
      matrix:
        audit_event_type: [ STAFF, PRISONER ]
    uses: ./.github/workflows/environment_integration_test.yml
    with:
      job_name: "Run ${{ matrix.audit_event_type }} prod integration tests"
      environment: "prod"
      env_test_url: "https://audit-api.hmpps.service.justice.gov.uk"
      audit_event_type: ${{ matrix.audit_event_type }}
    secrets:
      OAUTH_CLIENT_ID: ${{ secrets.PROD_INTEGRATION_TESTS_CLIENT_ID }}
      OAUTH_CLIENT_SECRET: ${{ secrets.PROD_INTEGRATION_TESTS_CLIENT_SECRET }}
      OAUTH_TOKEN_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth/oauth/token"